backups/
/build/*
/build_linux/*
/build_python/*
Silhouette
imgui.ini
.vscode/*
__pycache__
*.egg-info
typings

docs/processed_README.md

inpainting

/res/meta.json
/res/meshes
/res/bonn_tele_bench_001/
vci-gpu1-build-cmd.sh
